.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contentStyle {
  text-align: center;
  justify-content: center;
  margin: 7rem;
}

h1 {
  margin: 1rem;
}

button.ant-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.change-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearunderline {
  text-decoration: none;
}

.gridpositionL {
  margin-left: 3rem;
}

.gridpositionR {
  margin-right: 3rem;
}

.change-card:hover {
  background-color: #ffa200;
}
.change-card:active {
  background-color: #6eda78;
}

.greenbtn {
  background-color: #6eda78;
}

/* triangle */
.triangleup {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid gray;
  margin-right: 100px;
}

.triangledown {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid gray;
  margin-left: 100px;
}

.triangleleft {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 100px solid gray;
}

.triangleright {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid gray;
}

/* shape */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gray;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: gray;
}

.parallelogram {
  width: 200px;
  height: 100px;
  background-color: gray;
  transform: skewX(20deg);
}

.oval {
  width: 200px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
}

.trapezoid {
  width: 250px;
  height: 100px;
  background-color: gray;
  transform: perspective(10px) rotateX(1deg);
}
